@media screen and (min-width: 400px) {
  .home_img {
    margin-top: 60px;
}
}/* 400px */

@media screen and (min-width: 500px) {
  .services_item {
    width: 380px;
  }

  .project_desc {
    width: 310px;
    height: 204px;
    margin-top: 65px;
}

.ad a {
  padding-bottom: 20px;
}

#contact {
    margin-top: 80px;
}
}/* 500px */

@media screen and (min-width: 700px) {
.services_item {
    width: 480px;
    font-size: 1.1em;
}

.project_desc {
    width: 410px;
    height: 269px;
    margin-top: 100px;
}
}/* 700px */


@media screen and (min-width: 840px) {
  .content {
    /* margin-left: 60px; */
    width: 100%;
    /* border: 1px solid green; */
    margin-top: 120px;
    margin-bottom: 30px;
    font-size: 1.2em;
    display: flex;
    max-width: 100%;
  }

  .content2 {
    width: calc(50% - 60px);
    padding-left: 60px;
    padding-top: 140px;
  }

  .home_img {
    width: 100%;
    margin-top: 0px;
  }

  .services_item {
    width: 380px;
}

  .text {
    padding: 80px;
    width: 60%;
  }

  .contact_info {
    padding-top: 30px;
    width: 45%;
    margin-left: 120px;
    /* text-align: left; */
  }
}/* min width 790px*/

@media screen and (min-width: 1200px) {
    header {
      position: static;
      /* width: 1200px;
      margin-left: auto;
      margin-right: auto; */
    }

    #maincontent {
      width: 100%;
      margin-top: -20px;
    }

    .logo {
      padding-left: 180px
    }

    .content {
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
    }

    nav {
      display: block;
      padding-right: 180px;
    }

    nav a {
    letter-spacing: 3px;
    width: 130px;
    margin-left: 20px;
    margin-right: 0;
    padding: 0;
}

    #menu {
      display: none;
    }

    #home {
      min-height: 0;
    }

    .work_header {
        background-image: url(../img/obrazy/key1.jpg);
      }

      .services_item {
    width: 280px;
    }

  }/* min width 1200px*/
