body {
margin: 0;
/* width: 100%; */
font-family: 'Open Sans', sans-serif;
background-color: white;
color: #7a7a7a;
}

header {
width: 100%;
background-color: #f5f5f5;
position: fixed;
z-index: 10;
top: 0;
left: 0;
/* border: 1px solid green; */
/* display: flex;
flex-wrap: wrap; */
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    width: 80%;
}

.logo {
  color: #ffffff;
  padding: 20px 20px 0;
  margin-left: 15px;
  display: block;
  font-size: 1.5em;
  /* width: 70%; */
}

.logo_photo {
  max-width: 50%;
}

.bold {

}

nav {
  display: none;
  float: right;
  padding: 15px 45px;
}

nav a{
  text-decoration: none;
  color: #7a7a7a;
  padding: 15px;
  transition: transform .2s;
  font-size: 16px;
  letter-spacing: 6px;
  line-height: 26px;
  font-family: "Maison Neue";
  display: inline-flex;
  width: 100px;
    margin-right: 10px;
}

nav a:hover {
    color: #3d3d3d;
  transform: scale(1.05);
}

#menu {
  color: #7a7a7a;
    font-size: 1.3em;
    padding: 30px 30px 0 0;
    float: right;
    cursor: pointer;
}

#open_menu {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #a7a7a7;
    display: none;
    width: 180px;
    padding-top: 20px;
    padding-left: 25px;
}

#open_menu a {
  display: block;
    text-decoration: none;
    padding-bottom: 30px;
    font-size: 1.1em;
    color: white;
    transition: transform .2s;
    border-bottom: 1px solid white;
}

#open_menu a:hover {
  transform: scale(1.05);
  color: #56565d;
}

.close_cross {
  float: right;
  /* margin-right: 30px;
  margin-top: -30px; */
      margin-right: 10px;
  font-size: 1.5em;
  transition: transform .2s;
}

.close_cross:hover {
  transform: scale(1.1);
  color: #56565d;
}

#home {
  display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-wrap: wrap;
    min-height: 470px;
    background-color: #f5f5f5;
    width: 100%;
    /* margin for position fixed for header */
    margin-top: 15px;
}

.home_img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  max-width: 460px;
}

.home_photo {
  width: 100%;
}

.content {
  color: #7a7a7a;
  letter-spacing: 1px;
    font-family: "Maison Neue";
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid green; */
  max-width: 450px;
  margin-top: 45px;
  margin-bottom: 30px;
}

.button {
  text-align: center;
      cursor: pointer;
      color: black;
      background-color: white;
      border-radius: 4px;
      border: 1px solid black;
      transition: .2s;
      padding: 10px 15px 10px 15px;
      margin: 10px;
}

.button:hover {
      background-color: #f5f5f5;
}

.button a {
  text-decoration: none;
  color: #7a7a7a;
}

#services {
  background-color: white;
}

.headers {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  margin-top: 20px;
}

.services_content {
  font-size: 0.9em;
  display: flex;
  flex-wrap: wrap;
}

.services_item {
  width: 280px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.fontIcon {
  font-size: 2.5em;
  margin: 0 0 0 0;
}

.work_header {
    background-image: url(../img/obrazy/key.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
}

.black {
  color: #323232;
}

.web_{
  margin-top: 30px;
}

.false {
  color: #a7a7a7;
}

.project_content {
  display: flex;
    flex-wrap: wrap;
    /* position: relative; */
    margin-left: 60px;
    margin-right: 60px;
}


.project_desc {
  width: 210px;
  height: 137px;
  background-color: #a7a7a7;
    color: white;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 45px;
    position: relative;
    cursor: pointer;
    border: 1px solid black;
  /* display: none; */
}

.project_desc h3{
  margin-top: 50px;
}

.project_desc p{
  margin: 30px;
}

.project_foto {
  /* that might be absolute because -desc is relative */
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: width 4s, height 4s, transform 4s;
}

.project_foto:hover{
  opacity: 0;
  transform: rotate(180deg);
}

 .project_foto:focus {
   opacity: 0;
  /* transition: transform 2s; */
 }

 .text {
   /* width: calc(100% - 100px); */
     color: #7a7a7a;
     position: fixed;
     top: 50px;
     left: 0px;
     padding: 20px;
     z-index: 10;
     background-color: white;
     border: 1px solid black;
     border-radius: 30px;
     /* width: 90%; */
     margin-left: auto;
     margin-right: auto;
     overflow-y: scroll;
     height: 80%;
     font-size: 0.9em;
     background-color: #f5f5f5;
 }

 .text_photo {

    /* clear: both; */
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .close_text {
   display: block;
   margin-left: auto;
   margin-right: auto;
       width: 90px;
       cursor: pointer;
 }

 .close_text:hover {
   transform: scale(1.1);
   color: #56565d;
 }

.opinion_content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* to umozliwia skalowanie kółka oraz ustawienie dla niego max-width */
.person_image {
  max-width: 200px;
}

.person_img {
  width: 100%;
}

.opinion_text_with_quo {
  display: flex;
  padding-top: 30px;
  max-width: 450px;
  margin-left: 30px;
}

.quo {
  width: 20px;
}

.opinion_text {
  padding-left: 15px;
  width: 100% - 80% - 20px;
}

.opinion_img {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  /* border: 1px solid green; */
  width: 200px;
}

.opinion_img img {
  padding: 7px;
}
 #contact {
   background-color: #f5f5f5;
   margin-top: 40px;
 }

 .contact_info {
   padding-top: 30px;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   /* text-align: left; */
 }

 .icon {
    width: 25px;
   /* display: block; */
   /* width: 50px;
   height: 50px; */
   background-color: #bfbfbf;
   font-size: 1.5em;
  margin: 15px;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform .2s;
  /* align-items: center; */
 }

 .icon:hover {
   background-color: white;
 }

.input {
    padding: 20px;
    border: 0;
    margin: 0;
    border-radius: 4px;
    background-color: #eee;
    color: #747474;
    margin: 10px;
    transition: transform .2s;
}

.input:focus {
  background-color: white;
}

.contact_area {
  display: flex;
  flex-wrap: wrap;
}

.contact-form {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.textarea {
  width: 100%;
}

.ad {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  width: 80%;
margin: 20px;
}

.ad a {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  text-decoration: none;
    color: #a7a7a7;
}

.ad a:hover {
  transform: scale(1.05);
  color: black;
}

 footer {
   background-color: #a7a7a7;
   color: white;
  text-align: center;
  padding: 30px;
 }

 footer p {
   font-size: 0.8em;
 }

.efect {
  transition: transform .2s;
  cursor: pointer;
}

.efect:hover {
transform: scale(1.3);
}

/* .displayNone {
  display: none;
} */
